.sec1--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
	padding-left: 20px ;
  width: 100vw;
  height: 100vh;
  background: url('/src/views/statics/components/Intro/intro1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.sec1--h2 {
  color: white;
  font-weight: bold;
  text-align: center;
}

.sec1--p {
	width: 30vw;
  font-size: 1.2rem;
  color: white;
}

.sec1--information {
  position: absolute;
}
